*{
  margin:0
}

.app{
  /* background-color: #fafafa; */
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.app__headerImg{
  width:100px;
  height: 100px;
  padding:10px;
  object-fit: contain;

}

.app__signout{
  display: flex ;
  flex-direction: column ;
  
}

.app__signImg{
  width:100px;
  height: 100px;
  object-fit: contain;
  align-self: center;
}

.app__logoutcontainer{
  display: flex;
}
.app__loginavatar{
  margin-top: 38px;
  margin-right: 10px;
}

.app__post{
  display: flex;
  padding:20px;
  justify-content: center;
}

.app_postright{
  margin-left: 20px;
}